<html>
  <head>
    <title>Draw and Chat</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    <div id="draw"></div>
    <div id="drawdock">
        <button id="redButton"/>
        <button id="greenButton"/>
        <button id="blueButton"/>
        <button id="blackButton"/>
    </div>
    <div id="chat">

    </div>
  </body>
</html>
